pipeline/pl_project.json
{
	"name": "pl_project",
	"properties": {
		"activities": [
			{
				"name": "ZipFIleExtractProcess",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_zipfileprocess",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_zipFileExtract",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "inputFolderData",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ZipFIleExtractProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_projectInputData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterRequiredData",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "inputFolderData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('inputFolderData').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(and(startswith(item().name,'SalesLT'),endswith(item().name,'txt')),and(and(not(contains(item().name, '.json')),\n    not(contains(item().name, '.xml'))),not(contains(item().name, '.png')))) ",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}